body{
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family:  sans-serif;
    
    
}
.navbar{
    background-color: black;
    opacity: 50%;
    height: 1.9cm;
    position: sticky;
    top: 0;
    display: flex;
    justify-content:space-between;
    padding-left: 10%;
    padding-right: 10%;
}
.options_nav {
    line-height: 1.9cm;
    flex-grow: 10;
    display: flex;
    
}
.options_nav  a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
    
}
.options_nav a:hover{
    color: orange;
}
.logo{
    color:orange;
    font-style: italic;
    text-shadow: 1px 1px black;
    flex-grow: 1;
}
.order_button{
    max-width: 3cm;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid orange;
    color: white;
    flex-grow: 1;
}
.order_button:hover{
    color: orange;
    background-color:white;
    border-color: white;
}
#welcome{
    color: white;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 50%;
    font-family:sans-serif;
    display: inline-block;
    margin-bottom: 100px;
    line-height: 1.3;
    font-size: smaller;
}
#welcome h1{
    font-size: 36px
}
#welcome h1 span{
    color: orange;
    font-style: italic;
    text-shadow: 1px 1px black;
    
}
#chef_name{
    font-style: italic;
    line-height:1.2;
    font-family: Brush Script MT, sans-serif;
}
footer{
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 50px;
   
}
form{
    display: inline-block;
}
.contact_icon{
    width: 20px;
    margin-top: 10px;
    margin-bottom: 14px;
    margin-left: 10%;
    display: inline-block;
    vertical-align: middle;
}

.article_1{
    background-color: black;
    opacity: 85%;
    color: white;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 60px;
    padding-bottom: 60px;
    line-height: 1.4;
    font-size: smaller;
    vertical-align: top;
    font-family:  sans-serif;
    display: flex;
    justify-content:center;
    align-items:flex-start;
}

.article_1 img{
    max-width: 50%;
    border: 4px outset rgb(182, 182, 182);
}
.article_1 p{
    margin-right: 50px;
    font-size: 14px;
}
.hide{
    display: none;
}
